.container {
    margin:60px;
    float:left;
    width:75%;
   
}

.typefields {
    width:600px;
    height:15px;
    margin-left:100px;
    margin-bottom:50px;
    border-radius: 10px;
    border: 2px solid #CCCCCC;
    padding: 20px; 
    font-size:16px;  
}
#loginButton {
    margin-left:350px;
    width:120px;
    height:40px;
    margin-bottom:50px;
    border-radius:5px;
    border: 2px solid #CCCCCC;
    background-color:#F5F5F5;
    color: #CCCCCC;
    font-size: 20px;
}
#loginButton:hover {

    color: #5F5F5F;
    background-color: #CCCCCC;
    cursor: pointer;
}