h1 {
    text-align: center;
    margin: 0 auto;
}

.main {
    font-family: 'Open Sans', sans-serif;
    float:left;
    margin-bottom:20px;
    border-bottom:1px solid lightgrey;
    
}

.main h1 {
    text-align: left;
    float:left;
}

.final {
    border-bottom:none;
}



h3 {    
    margin-top:5px;
    margin-bottom:5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    float: left;
    
}



h4 {
    margin:3px;
    float:left;
    text-align:left;
}

.lastline {
    margin-bottom:30px;
}


h5 {
   
    color:#9e9e9e;
    margin-top:20px;
    margin-bottom:0px;
    float:none;
    
}

span {
    font-size:130%;
    color:#424242;
}

a {
    text-decoration: none;
    color:#4285F4;
}


.hr3 {
    border-color:#EA4335;
}


.date {
    float:right;
    text-align:right;
    font-size:90%;
    color:#9e9e9e;
}

.logos {
    width:100px;
    
}

@media only screen and (max-width: 600px) {
    
  
   h4 {
    margin:0px;
    padding:0px;
    float:left;
    text-align:left;
    
  }
  .logos {
    width:75px;
    
}
  
  }
