@font-face {
    font-family: myFont;
    src: url("../SW_font.otf");
}

body {
    margin: 0;
    padding: 0;
    background-image: url("../images/back.jpg");
    font-family: myFont;
}


.w3-btn {
   margin:15px;
   color:yellow;
   border: 1px solid yellow;
    border-radius:4px;
   }
   .w3-btn:hover {
    background-color:yellow;
    border: 2px solid black;
    color:black;
    
   }

p {
    color:yellow;
    font-family: myFont;
    font-size:320%;
    margin-left:20px;
    margin-top:10px;
}

ul li {
    font-size:140%;
    list-style-type: none;

}
input {
    font-size:140%;
    margin-left:16px;
    border-radius: 4px;
    border:none;
    
}

