nav {
    float:left;
    width:800px;
    height: 100px;
    margin-left:280px;
  
}

.linkContainer {
    margin: 0 auto;
    margin-top:15px;
    width:600px;
    color:#424242 ;
   
    
}

.links {
    
    text-decoration: none;
    color:#424242 ;
    font-family: 'Roboto', sans-serif;
    margin:30px;
    font-size:130%;
    border-bottom: 3px solid lightgrey;
    
}

.links:hover{
    text-shadow: 1px 1px 2px #424242;
}

.material-icons {
    font-size:60px;
    
}

.home {
    color:#34A853;
    
    
}
.work {
    color:#FBBC05;
}
.school {
    color:#EA4335;
}

.face {
    color:#4285F4;
}
.mood {
    color:#34A853;
}

@media only screen and (max-width: 1100px) {
    nav {
        width:550px;
    }
    .linkContainer {
        width:500px;
        
    }
    .links {

        margin:20px;
        font-size:120%;
    }
}

@media only screen and (max-width: 830px) {
    nav {
        margin-top:235px;
        margin-left:30px;
    }
    .linkContainer {
        width:500px;
        
    }
    .links {

        margin:20px;
        font-size:120%;
    }
}



@media only screen and (max-width: 600px) {
    nav {
        margin-top:140px;
        width:320px;
        margin-left:10px;
    }
    .linkContainer {
        width:320px;
        
    }
    .links {

        margin:5px;
        font-size:100%;
    }
    .material-icons {
        font-size:50px;
    }
}
