.myModal {
    position: fixed;
    width: 600px;
    height: 200px;
    top: 40%;
    left: 45%;
    margin-top: -100px; 
    margin-left: -250px; 
    border-radius:5px;
    box-shadow: 3px 3px 10px grey;
    border: 1px solid lightgrey;
    background-color:#f5f5f5;
    text-align: center;
    color:#424242;
}


.message {
    margin-top:25px;
    width:500px;
    margin-left: 50px;
   
    
  }
  .title {
    width:260px;
    margin-left: 170px;
    padding-top:20px;
  }

  .btn1, .btn2 {
      display:inline;
      margin:20px;
      width:160px;
      font-size:80%;
  }

  .btn1 {
        background-color:#EA4335;
        color:white;
  }
 
.btn2 {
    background-color:#FBBC05;
    color:white;
}

@media only screen and (max-width: 600px) {
    .myModal {
        position: fixed;
        width: 320px;
        height: 150px;
        top: 40%;
        left: 48%;
        margin-top: -50px; 
        margin-left: -160px; 
        border-radius:5px;
        box-shadow: 3px 3px 10px grey;
        border: 1px solid lightgrey;
        background-color:#f5f5f5;
        text-align: center;
        color:#424242;
    }
    
    .message {
        margin-top:20px;
        width:300px;
        margin-left: 10px;
        margin-bottom: 20px;
        font-size:95%;
        
      }
      .title {
          font-size:85%;
        width:220px;
        margin-left: 60px;
        padding-top:10px;
      }
      .btn1, .btn2 {
        display:inline;
        margin:15px;
        margin-top:0px;
        width:80px;
        height:30px;
        font-size:70%;
    }
  }

